<header>
    <nav class="layout">
        <section class="logo">
            <figure class="figure-logo">
                <img class="logo" src="assets/Images/Logomark.png" alt="LOGO">
                <figcaption class="figcaption">
                    ClickTik
                </figcaption>
            </figure>
        </section>
        <section class="group-right-side">
            <ul class="un-o-l">
                <li>
                    <a class="link">Home</a>
                </li>
            </ul>

            <section class="group-search-cart-account">
                <!-- <button class="btn-login" type="button">Log in</button> -->

                <article class="search">
                    <label for="search">
                        <figure class="figure-search">
                            <img src="assets/Images/Shape.png" alt="shape">
                        </figure>
                    </label>
                    <input id="search" class="input-search" type="search" placeholder="Search">
                </article>

                <article class="cart">
                    <button class="btn-basic" type="button">
                        <figure class="figure-cart">
                            <img src="assets/Images/Cart.png" alt="shape">
                            <span class="badge">99+</span>
                        </figure>
                    </button>
                </article>

                <article class="">
                    <strong>Account</strong>
                </article>

            </section>

        </section>
    </nav>
</header>