<section class="container">
    <h1>iPhone</h1>
    <p>Home / Products
        @if(category){
        {{"/ "+ category}}
        }
        @if (searchTerm != '') {
        /
        <strong>
            {{ searchTerm}}
        </strong>
        }
    </p>
    <section class="layout">
        <app-category-filter (onCategoryChange)="onGetCategory($event)"></app-category-filter>
        <div class="container-card">
            @for(product of products$ | async ; track product.id){
            <article class="card">
                <div class="discount">
                    {{"-" + product.discountPercentage + "%"}}
                </div>
                <div class="img-card">
                    <img src="{{product.images}}" alt="Avatar">
                </div>
                <div class="container-title">
                    <h4 class="title"><b> {{product.title }} </b></h4>
                    <p>{{product.description}}.</p>
                    <p class="price-card">
                        <span class="line-through">
                            <span class="fw">{{product.price}}</span>
                            USD</span>
                        <span>
                            <span class="fw">
                                477.85
                            </span>
                            USD</span>
                    </p>
                    <p>Brand: <span class="fw">{{product.brand}}</span></p>
                    <p>Category: <span class="fw">

                            {{product.category}}
                        </span>
                    </p>
                    <p>In stock:
                        <span class="fw">
                            {{product.stock}}

                        </span>
                    </p>
                    <span class="star-icon">{{"⭐" +product.rating}} <span
                            class="rate">({{product.minimumOrderQuantity}})</span></span>
                    <button class="btn-card" (click)="addToCart.increment()">ADD TO CART</button>
                </div>
            </article>
            }@empty {
            <p>No products found.</p>
            }
        </div>


    </section>
    <app-pagination [totalPages]="totalPages" [currentPage]="currentPage"
        (pageChange)="onPageChange($event)"></app-pagination>
</section>