<article class="filter">
    <h3 class="title">Products</h3>
    <form>
        <div class="All">
            <input type="radio" name="category" id="All">
            <label for="All">All (240)</label>
        </div>
        <div class="Smartphones">
            <input type="radio" name="category" id="Smartphones">
            <label for="Smartphones">Smartphones (9)</label>
        </div>
        <div class="Laptops">
            <input type="radio" name="category" id="Laptops">
            <label for="Laptops">Laptops (12)</label>
        </div>
        <div class="Fragrances">
            <input type="radio" name="category" id="Fragrances">
            <label for="Fragrances">Fragrances (8)</label>
        </div>
        <div class="Skincare">
            <input type="radio" name="category" id="Skincare">
            <label for="Skincare">Skincare (16)</label>
        </div>
        <div class="Groceries">
            <input type="radio" name="category" id="Groceries">
            <label for="Groceries">Groceries (12)</label>
        </div>
        <div class="decoration">
            <input type="radio" name="category" id="decoration">
            <label for="decoration">Home decoration (4)</label>
        </div>
        <div class="furniture">
            <input type="radio" name="category" id="furniture">
            <label for="furniture">Furniture (4)</label>
        </div>

        <div class="tops">
            <input type="radio" name="category" id="tops">
            <label for="tops">Tops (42)</label>
        </div>

        <div class="womens-dresses">
            <input type="radio" name="category" id="womens-dresses">
            <label for="womens-dresses">Women’s dresses (40)</label>
        </div>

        <div class="womens-shoes">
            <input type="radio" name="category" id="womens-shoes">
            <label for="womens-shoes">Women’s shoes (12)</label>
        </div>

        <div class="mens-shirts">
            <input type="radio" name="category" id="mens-shirts">
            <label for="mens-shirts">Men’s shirts (2)</label>
        </div>

        <div class="mens-shoes">
            <input type="radio" name="category" id="mens-shoes">
            <label for="mens-shoes">Men’s shoes (10)</label>
        </div>

        <div class="mens-watches">
            <input type="radio" name="category" id="mens-watches">
            <label for="mens-watches">Men’s watches (15)</label>
        </div>

        <div class="womens-watches">
            <input type="radio" name="category" id="womens-watches">
            <label for="womens-watches">Women’s watches (7)</label>
        </div>

        <div class="womens-bags">
            <input type="radio" name="category" id="womens-bags">
            <label for="womens-bags">Women’s bags (9)</label>
        </div>

        <div class="womens-jewellery">
            <input type="radio" name="category" id="womens-jewellery">
            <label for="womens-jewellery">Women’s jewellery (5)</label>
        </div>

        <div class="sunglasses">
            <input type="radio" name="category" id="sunglasses">
            <label for="sunglasses">Sunglasses (13)</label>
        </div>

        <div class="automotive">
            <input type="radio" name="category" id="automotive">
            <label for="automotive">Automotive (6)</label>
        </div>

        <div class="motorcycle">
            <input type="radio" name="category" id="motorcycle">
            <label for="motorcycle">Motorcycle (14)</label>
        </div>

        <div class="lighting">
            <input type="radio" name="category" id="lighting">
            <label for="lighting">Lighting (0)</label>
        </div>


    </form>
</article>